{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "test": {
      "presets": [
          [
              "env",
              {
                  "modules": "commonjs",
                  "useBuiltIns": "usage",
                  "debug": false
              }
          ],
          "stage-0",
          "react",
          "flow",
          "jest"
      ]
    },
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
